/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme_dark .header__dark-element {
  display: block;
}

:root .theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --subtitle-color: #000028;
  --subtitle-bg-color: #ff0070;
  --text-color: #f1b2ce;
  --hover-color: rgba(225, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  .header__dark-element {
    display: block;
  }
}