/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme_dark .header__dark-element {
  display: block;
}

:root .theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --decorated-color: #ff0070;
  --heading-color: #db00ff;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --subtitle-bg-color: #ff0070;
  --text-color: #f1b2ce;
  --hover-color: rgba(225, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  .header__dark-element {
    display: block;
  }

  :root {
    --background-color: #000028;
  }
  }
